
  *{
    background:#F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
  }

  .logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
  }

  main{
    display:flex;
    margin-bottom: 50px;
    margin-left: 80px;
  }

  .text-area{
  color: #0A3871;
  border:none;
  margin-top: 90px;
  margin-right: 200px;
  text-transform: lowercase;
  outline:none
  }

  ::placeholder{color:#0A3871 ;}
  .text-area:focus{
    outline:none;
  }

  .mensaje{
    background: white;
    background-image: url(/imagenes/Muñeco.png);
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    border-radius: 24px;
    color:#0A3871;
    margin-left: 98px;
    margin-top: 30px;
    padding-left:20px ;
    position: fixed;
    outline: none;
  }

  .mensaje:focus{
    outline:none;
  }
.botones{
  display: flex;
  margin-top: 18px;
  position:sticky;
}

.btn-encriptar{
background-color: #0A3871;  
border: 1px solid #0A3871 ;
border-radius: 24px;
color: white;
cursor: pointer;
height: 67px;
width: 328px;

}

.btn-desencriptar{
  background-color: #D8DFE8;  
  border: 1px solid #0A3871 ;
  border-radius:24px;
  cursor: pointer;
  color:#0A3871;
  height: 67px;
  width: 336px;
  margin-left: 30px;
  
}

.btn-copiar{
  background-color: #D8DFE8;  
  border: 1px solid #0A3871 ;
  border-radius:24px;
  cursor: pointer;
  color:#0A3871;
  height: 67px;
  width: 336px;
  margin-left: 123px;
  margin-top: 700px;
  position: sticky;
}

.informacion{
  color:#67808E;
  font-size: 18px;

}
